[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
msrest = "*"
azure-cognitiveservices-vision-face = "*"
Flask = "*"
Pillow = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
